@page
@model Buy_And_Sell_House_Core_Webapp.Pages.Shared.Transactions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Transactions</h2>

<p>
    <a class="btn btn-primary" asp-page="Create">Add New Transaction</a>
</p>
<table class="table table-striped table-primary table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Buyer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].House)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transaction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.BuyerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House.HouseAddress)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.TransactionId">Update</a> |
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.TransactionId">View</a> |
                <a class="btn btn-primary" asp-page="./Delete" asp-route-id="@item.TransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
